@using MatBlazor
@using CotacolApp.Services.Extensions
@inject ICotacolClient CotacolClient
@inject ICotacolUserClient CotacolUserClient
@inject IUserProfileManager UserProfile
@inject ILogger<ClimbListComponent> Logger

@if (_climbs == null)
{
    <p>
        <em>We're getting the climbs , please be patient...</em>
    </p>
}
else
{
    @if (UserProfile.IsAdmin)
    {
        <div style="text-align: right; width: 100%">
            <MatButtonLink Icon="cloud_download" Target="_top" Href="/admin/downloaddata?name=cols.csv">Download data (admins)</MatButtonLink>
        </div>
    }
    <MatChipSet Choice="true" SelectedChipChanged="@(async (val) => await ApplyFilterAsync(val))">
        <MatChip Label="All" Id="NoFilter"></MatChip>
        @if (UserProfile.IsAuthenticated)
        {
            <MatChip Label="To do" Id="TodoFilter" Style="color: #FD7D7A"></MatChip>
            <MatChip Label="Planned" Id="PlannedFilter" Style="color: #FD7D7A"></MatChip>
            <MatChip Label="Done" Id="DoneFilter" Style="color: #FD7D7A"></MatChip>
            <MatChip Label="Owned" Id="OwnedFilter" Style="color: #FD7D7A"></MatChip>
        }
        <MatChip Label="Unconquered" Id="VirginFilter"></MatChip>
        <MatChip Label="Top 50" Id="TopFilter"></MatChip>
        <MatChip Label="Bomb" Id="BombFilter"></MatChip>
        <MatChip Label="Easiest" Id="EasyFilter"></MatChip>
        <MatChip Label="Highest" Id="HighFilter"></MatChip>
        <MatChip Label="Longest" Id="LongFilter"></MatChip>
        <MatChip Label="Steepest" Id="SteepFilter"></MatChip>
    </MatChipSet>
    <MatChipSet Id="ProvinceFilter" Choice="false" Filter="true" SelectedChipChanged="@(async (val) => await ApplyProvinceFilterAsync(val))">
        <MatChip Label="WFL" IsCheckable="true" Id="WestVlFilter"></MatChip>
        <MatChip Label="EFL" IsCheckable="true" Id="OostVlFilter"></MatChip>
        <MatChip Label="ANT" IsCheckable="true" Id="AntwerpenFilter"></MatChip>
        <MatChip Label="LIM" IsCheckable="true" Id="LimburgFilter"></MatChip>
        <MatChip Label="BRU" IsCheckable="true" Id="BrusselsFilter"></MatChip>
        <MatChip Label="FLB" IsCheckable="true" Id="VlBrFilter"></MatChip>
        <MatChip Label="WLB" IsCheckable="true" Id="BrabantWallonFilter"></MatChip>
        <MatChip Label="HNT" IsCheckable="true" Id="HainautFilter"></MatChip>
        <MatChip Label="NAM" IsCheckable="true" Id="NamurFilter"></MatChip>
        <MatChip Label="LIE" IsCheckable="true" Id="LiegeFilter"></MatChip>
        <MatChip Label="LUX" IsCheckable="true" Id="LuxemburgFilter"></MatChip>
    </MatChipSet>
    @if (!string.IsNullOrEmpty(_filterMessage))
    {
        <div>@_filterMessage</div>
    }
    @if (Mode == ClimbViewMode.Table)
    {
        <ClimbListTableComponent @bind-Climbs="@_climbs"/>
    }
    else
    {
        <ClimbListMapComponent @bind-Climbs="@_climbs"/>
    }
}

@code {

    [Parameter]
    public ClimbViewMode Mode { get; set; }

    private string _currentFilter = "nofilter";
    private List<string> _provinceFilters = null;
    private IEnumerable<UserClimb> _climbList;
    private IEnumerable<UserClimb> _climbs;
    private string _filterMessage;

    protected override async Task OnInitializedAsync()
    {
        if (UserProfile.IsAuthenticated)
        {
            _climbList = await CotacolUserClient.GetClimbDataAsync(UserProfile.UserId);
        }
        else
        {
            _climbList = (await CotacolClient.GetClimbDataAsync()).Select(climb => new UserClimb(climb));
        }
        _climbs = _climbList;
    }

    private async Task ApplyProvinceFilterAsync(MatChip filter)
    {
        if (filter == null)
        {
            _provinceFilters = null;
        }
        else
        {
            _provinceFilters = filter.ChipSet.SelectedChips
                .Select(chip => GetSystemName(chip.Id)).ToList();
        }
        await FilterClimbsAsync();
    }

    private async Task ApplyFilterAsync(MatChip filter)
    {
        _currentFilter = filter.Id;
        await FilterClimbsAsync();
    }

    private string GetSystemName(string value)
    {
        return value.Replace("Filter", "")
            .Replace(" ", "")
            .Replace("-", "")
            .ToLower();
    }

    private async Task FilterClimbsAsync()
    {
        _climbs = _climbList;
        _filterMessage = null;
    // Filter on category
        switch (_currentFilter.ToLower())
        {
            case "nofilter":
                break;
            case "donefilter":
                _climbs = _climbList.Where(c => c.Done);
                _filterMessage = $"You have conquered these __COUNT__ Cotacols";
                break;
            case "ownedfilter":
                _climbs = _climbList.Where(c => c.Done && c.UniqueUsers == 1);
                _filterMessage = _climbs.Any() ?
                    $"You are the only user that conquered __COUNT-SUFFIX__"
                    : "There are no Cotacols that only you have conquered";
                break;
            case "plannedfilter":
                _climbs = _climbList.Where(c => c.Bookmarked);
                _filterMessage = $"You have bookmarked __COUNT-SUFFIX__";
                break;
            case "todofilter":
                _climbs = _climbList.Where(c => !c.Done);
                _filterMessage = $"You still have to conquer __COUNT-SUFFIX__";
                break;
            case "bombfilter":
                _climbs = _climbList.Where(c => c.BomScore > 0).OrderByDescending(c => c.BomScore);
                _filterMessage = $"These Cotacols have a Bomb score, which means they cause a lot of suffering on a relatively shorter distance";
                break;
            case "topfilter":
                _climbs = _climbList.OrderByDescending(c => c.CotacolPoints).Take(50);
                _filterMessage = $"The 50 toughest Cotacols.  These will help increasing your score quickly.";
                break;
            case "easyfilter":
                _climbs = _climbList.OrderBy(c => c.CotacolPoints).Take(50);
                _filterMessage = $"The 50 easiest Cotacols.  Good to get started.";
                break;
            case "highfilter":
                _climbs = _climbList.OrderByDescending(c => c.ElevationDiff).Take(50);
                _filterMessage = $"The 50 Cotacols with the highest elevation";
                break;
            case "virginfilter":
                _climbs = _climbList.Where(col => col.TotalAttempts == 0);
                _filterMessage = $"Will you be the first to own one of these Cotacols?";
                break;
            case "longfilter":
                _climbs = _climbList.OrderByDescending(c => c.Distance).Take(50);
                _filterMessage = $"The 50 longest Cotacols.  One for the diesels.";
                break;
            case "steepfilter":
                _climbs = _climbList.OrderByDescending(c => c.AvgGrade).Take(50);
                _filterMessage = $"The 50 steepest Cotacols.  Unleash the Watts!";
                break;
        }


    // Filter on province
        if (_provinceFilters?.Any() ?? false)
        {
            _climbs = _climbs.Where(c =>
                _provinceFilters.Any(province => GetSystemName(province).Equals(GetSystemName(c.Province))));
        }
        if (!string.IsNullOrEmpty(_filterMessage))
        {
            _filterMessage = _filterMessage.Replace("__COUNT__", _climbs.Count().ToString());
            _filterMessage = _filterMessage.Replace("__COUNT-SUFFIX__", GetCountSuffix());
        }
    }

    private string GetCountSuffix()
    {
        if (!_climbs.Any()) return "no Cotacols";
        if (_climbs.Count() == 1) return "this one Cotacol";
        return $"these {_climbs.Count()} Cotacols";
    }

}