@page "/stats"
@using MatBlazor
@using CotacolApp.Models.CotacolApi
@using CotacolApp.Services.Extensions
@inject ICotacolClient CotacolClient
@inject IUserProfileManager UserProfile

<h1>Crunching numbers</h1>

@if (!UserProfile.IsAuthenticated)
{
    <p>
        <em>Since you are not a registered user, user names and activity details are hidden for user privacy.</em>
    </p>
}

@if (stats == null)
{
    <p>
        <em>Loading climbs...</em>
    </p>
}
else
{

    <h2>Leader board</h2>
    <hr/>
    <MatTable FilterByColumnName="UserName" Items="@stats.Users" class="lektonic" PageSize="100"
              ShowPaging="false" UseSortHeaderRow="true">
        <MatTableHeader>
            <MatSortHeaderRow SortChanged="SortLeaders">
                <MatSortHeader SortId="position">#</MatSortHeader>
                <MatSortHeader SortId="name">
                    <span style="width:200px">Hunter</span>
                </MatSortHeader>
                <MatSortHeader SortId="points">Points</MatSortHeader>
                <MatSortHeader SortId="climbs">Unique Climbs</MatSortHeader>
                <MatSortHeader SortId="empty"></MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: right">@context.Position</td>
            <td>
                <b>@PrintName(context)</b>
            </td>
            <td style="text-align: right">@context.TotalPoints.Number()</td>
            <td style="text-align: right">@context.UniqueCols</td>
            <td>&nbsp;</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private SiteStats stats = null;
    public int tabIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        stats = await CotacolClient.GetStatsAsync();
    }

    private string GetName(string fullName, string userName)
    {
        if (UserProfile.IsAuthenticated)
        {
            if (!string.IsNullOrEmpty(fullName))
                return fullName;
            if (!string.IsNullOrEmpty(userName))
                return userName;
            return "Anonymous";
        }
        if (!string.IsNullOrEmpty(fullName))
        {
            var result = "";
            foreach (var namePart in fullName.Split(' '))
            {
                if (!string.IsNullOrEmpty(namePart))
                {
                    var newChar = namePart[0];
                    if (newChar < 128)
                        result += newChar;
                }
            }
            return result;
        }
        return "Anonymous";
    }

    private string PrintName(UserStatistics user)
    {
        return GetName(user.FullName, user.UserName);
    }
    

    private void SortLeaders(MatSortChangedEvent sort)
    {
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)) && stats != null)
        {
            switch (sort.SortId)
            {
                case "points":
                    stats.Users = sort.Direction == MatSortDirection.Asc ?
                        stats.Users.OrderBy(c => c.TotalPoints).ToList() :
                        stats.Users.OrderByDescending(c => c.TotalPoints).ToList();
                    break;
                case "climbs":
                    stats.Users = sort.Direction == MatSortDirection.Asc ?
                        stats.Users.OrderBy(c => c.UniqueCols).ToList() :
                        stats.Users.OrderByDescending(c => c.UniqueCols).ToList();
                    break;
            }
        }
    }

}