@page "/strava"
@using MatBlazor
@using MatBlazor.Components
@using CotacolApp.Models.CotacolApi
@using CotacolApp.Services.Extensions
@using CotacolApp.Components
@inject ICotacolClient CotacolClient
@inject ICotacolUserClient CotacolUserClient
@inject IUserProfileManager UserProfile
@inject ILogger<Climbs> Logger
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@using OneOf.Types
<Title Value="Verify your Strava Authorization"/>
<AuthorizeView>
    <NotAuthorized>
        @if (true)
        {
            NavManager.NavigateTo(UserProfile.GetLoginLink(), true);
        }
    </NotAuthorized>
    <Authorized>
        @if (_stravaProfile == null)
        {
            <p>
                <em>Fetching your strava configuration...</em>
            </p>
        }
        else
        {
            <h1>@GetName()</h1>
            <MatList SingleSelection="true" TwoLine="true">
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>Strava token validity</MatListItemPrimaryText>
                        <MatListItemSecondaryText><MatIcon Icon='@(_stravaProfile.AuthorizationTokenValid ? "check_circle" : "error")'></MatIcon>We @(_stravaProfile.AuthorizationTokenValid ? "do" : "don't") have a valid token</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>Activity access</MatListItemPrimaryText>
                        <MatListItemSecondaryText><MatIcon Icon='@(_stravaProfile.ActivitiesCanBeRead ? "check_circle" : "error")'></MatIcon>We @(_stravaProfile.ActivitiesCanBeRead ? "can" : "can't") read your activities</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
                @if (_stravaProfile.UpdateDescriptionFlag)
                {
                    <MatListItem>
                        <MatListItemText>
                            <MatListItemPrimaryText>Activity descriptions</MatListItemPrimaryText>
                            <MatListItemSecondaryText><MatIcon Icon='@(_stravaProfile.ActivityDescriptionCanBeUpdated ? "check_circle" : "error")'></MatIcon>We @(_stravaProfile.ActivityDescriptionCanBeUpdated ? "can" : "can't") update your activity descriptions</MatListItemSecondaryText>
                        </MatListItemText>
                    </MatListItem>
                }
                else
                {
                    <MatListItem>
                        <MatListItemText>
                            <MatListItemPrimaryText>Activity descriptions</MatListItemPrimaryText>
                            <MatListItemSecondaryText><MatIcon Icon='check_circle'></MatIcon>We @(_stravaProfile.ActivityDescriptionCanBeUpdated ? "can" : "can't") update your activity descriptions, but you disabled that setting.</MatListItemSecondaryText>
                        </MatListItemText>
                    </MatListItem>
                }
                @if (UserProfile.IsAdmin)
                {
                    <MatListItem>
                        <MatListItemText>
                            <MatListItemPrimaryText>Strava permissions</MatListItemPrimaryText>
                            <MatListItemSecondaryText>"@(_stravaProfile.StravaPermissions ?? _stravaProfile.TokenScope)"</MatListItemSecondaryText>
                        </MatListItemText>
                    </MatListItem>
                    <MatListItem>
                        <MatListItemText>
                            <MatListItemPrimaryText>Token last refreshed</MatListItemPrimaryText>
                            <MatListItemSecondaryText>@(_stravaProfile.TokenLastRefreshed)</MatListItemSecondaryText>
                        </MatListItemText>
                    </MatListItem>
                    <MatListItem>
                        <MatListItemText>
                            <MatListItemPrimaryText>Token expiration</MatListItemPrimaryText>
                            <MatListItemSecondaryText>@(_stravaProfile.TokenExpiration)</MatListItemSecondaryText>
                        </MatListItemText>
                    </MatListItem>
                }
            </MatList>
            <p>If you want to update and re-authorize Strava, using the right permissions, click the button below.  You will be redirected to a new tab that you can easily close afterwards.</p>
            <MatButtonLink Icon="@MatIconNames.Link" Target="_blank" Href="http://www.strava.com/oauth/authorize?client_id=4987&response_type=code&redirect_uri=https://cotacol-hunting-workers.azurewebsites.net/api/StravaTokenHttpTrigger&approval_prompt=force&state=cotacolll&scope=read,read_all,activity:read_all,activity:read,activity:write,profile:write">Re-authorize Strava</MatButtonLink>
        }
    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public string UserId { get; set; }

    private string _notAuthorizedMessage;
    private StravaUserProfile _stravaProfile;
    private string SelectedUserId => string.IsNullOrEmpty(UserId) ? UserProfile.UserId : UserId;

    protected override async Task OnInitializedAsync()
    {
        if (UserProfile.IsAuthenticated || !string.IsNullOrEmpty(UserId))
        {
            if (!string.IsNullOrEmpty(UserId) && !UserProfile.IsAdmin)
            {
                _notAuthorizedMessage = "You are not allowed to see other user's data";
                return;
            }
            if (!string.IsNullOrEmpty(SelectedUserId))
            {
                _stravaProfile = await CotacolUserClient.GetStravaUserConfigurationAsync(UserId);
            }
        }
    }

    private string TokenValidityText => "";

    private string GetName()
    {
        if (string.IsNullOrEmpty(UserId))
        {
            return UserProfile.FullName;
        }
        return UserProfile?.FullName ?? "User's configuration";
    }

}